.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  /* border: solid 2px red; */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  /* border: solid 2px orange; */
}

.headerContainer {
  /* border: solid 2px blue; */
  padding: 5% 7% 2% 7%;
}

.header {
  margin: 0;
  font-family: var(--font-light);
  font-weight: 600;
  color: var(--money-green);
  text-align: center;
}

.cardContainer {
  padding: 0 7%;
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8rem;
}

.card {
  color: var(--primary-font-color);
  height: auto;
  width: 250px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; */
  /* border: solid 2px red; */
}

.numberContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: var(--money-green);
}

.number {
  margin: 0;
  color: var(--secondary-font-color);
  font-family: var(--font-bold);
  text-align: center;
  font-weight: 600;
}

.card details {
  /* border: 2px solid green; */
  display: inline;
  width: 100%;
}

.card details summary {
  font-weight: bold;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}



.title {
  font-family: var(--font-bold);
  text-align: center;
  color: var(--money-green);
  margin: 0;
}

.subTitle {
  width: 100%;
  margin: 0;
  padding-top: 1.25rem;
  font-family: var(--font-light);
  font-weight: 600;
  text-align: center;
  color: var(--money-green);
}

.card details[open] summary svg{
  display: none;
}

/* .card details[open] summary {
  border-bottom: 1px solid var(--money-green);
} */

@media only screen and (min-width: 2561px) {
  .cardContainer {
    max-width: 2560px;
    padding: 26px 180px;
  }
}

@media only screen and (max-width: 1921px) {
  .cardContainer {
    gap: 5rem;
  }
  .number {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1600px) {
  .cardContainer {
    gap: 4rem;
  }
  .number {
    font-size: 1.3rem;
  }
  .subTitle {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1080px) {
  .cardContainer {
    gap: 1rem;
  }
  .number {
    font-size: 1.2rem;
  }
  .subTitle {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 991px) {
  .cardContainer {
    gap: 0;
    padding: 10% 0 0 0;
    align-items: flex-start;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .breakPointCardFive {
    display: block;
  }
  .topBreakPoint {
    display: none;
  }
  .bottomBreakPoint {
    display: none;
  }
  .card {
    height: 200px;
    width: 300px;
    padding: 0 5%;
    flex: 1;
    flex-basis: 50%;
  }
  .number {
    font-size: 1.2rem;
  }
  .subTitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    gap: 0;
    padding: 10% 7% 0 7%;
  }
  .card {
    height: 200px;
    width: 300px;
    padding: 0 3%;
    flex: 1;
    flex-basis: 50%;
    gap: 0.5rem;
  }
  .number {
    font-size: 1rem;
  }
  .subTitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .cardContainer {
    padding-top: 15%;
  }
}
