.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: solid 2px red; */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: solid 2px orange; */
}

.headerContainer {
  /* border: solid 2px blue; */
  padding: 5% 7% 2% 7%;
}

.header {
  margin: 0;
  font-family: var(--font-light);
  font-weight: 600;
  color: var(--money-green);
  text-align: center;
}

.cardContainer {
  padding: 0 7%;
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8rem;
}

.card {
  color: var(--primary-font-color);
  height: auto;
  width: 250px;
}

.numberContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: var(--money-green);
}

.number {
  margin: 0;
  color: var(--secondary-font-color);
  font-family: var(--font-bold);
  text-align: center;
  font-weight: 600;
}

.card details {
  display: inline;
  width: 100%;
}

.card details summary {
  padding: 25px;
  border: 2px solid var(--khaki-light);
  border-radius: 9px;
  font-weight: bold;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  transition: 0.1s;
}

.card details summary:hover {
  cursor: pointer;
  background-color: var(--titanium-grey);
  border: solid 2px #0e416c;
  filter: brightness(105%);
  transform: translateY(-0.12rem);
  transition: 0.25s;
}

.title {
  font-family: var(--font-bold);
  text-align: center;
  color: var(--money-green);
  margin: 0;
}

.readMore {
  font-family: var(--font-light);
  font-weight: 600;
  font-size: 0.85rem;
  color: var(--money-green);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  margin-left: 5px;
  margin-top: 3px;
  width: 0;
  height: 0;
  display: inline-block;
  border: 6px solid transparent;
  border-left-color: var(--money-green);
}

.subTitle {
  width: 100%;
  margin: 0;
  padding-top: 1.25rem;
  font-family: var(--font-light);
  font-weight: 600;
  text-align: center;
  color: var(--money-green);
  transition: 3s;
}

.card details[open] summary {
  border: none;
  border-top: 2px solid var(--money-green);
  border-radius: 0;
  transition: 0.25s;
}

.card details[open] summary h5 {
  visibility: hidden;
  position: relative;
}

.card details[open] summary h5::after {
  visibility: visible;
  position: absolute;
  content: "";
  margin-top: 20px;
  width: 0;
  height: 0;
  display: inline-block;
  border: 6px solid transparent;
  border-top-color: var(--money-green);
}

@media only screen and (min-width: 2561px) {
  .cardContainer {
    max-width: 2560px;
    padding: 26px 180px;
  }
}

@media only screen and (max-width: 1921px) {
  .cardContainer {
    gap: 5rem;
  }
  .number {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1600px) {
  .cardContainer {
    gap: 4rem;
  }
  .number {
    font-size: 1.3rem;
  }
  .subTitle {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1080px) {
  .cardContainer {
    gap: 1rem;
  }
  .number {
    font-size: 1.2rem;
  }
  .subTitle {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 991px) {
  .sectionWrapper {
    display: none;
  }
  .container {
    border: solid 2px red;
    height: auto;
  }
  .cardContainer {
    gap: 0;
    padding: 10% 0 0 0;
    align-items: flex-start;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    height: 200px;
    width: 300px;
    padding: 0 5%;
    flex: 1;
    flex-basis: 50%;
  }
  .number {
    font-size: 1.2rem;
  }
  .subTitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .cardContainer {
    gap: 0;
    padding: 10% 7% 0 7%;
  }
  .card {
    height: 200px;
    width: 300px;
    padding: 0 3%;
    flex: 1;
    flex-basis: 50%;
    gap: 0.5rem;
  }
  .number {
    font-size: 1rem;
  }
  .subTitle {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  .cardContainer {
    padding-top: 15%;
  }
}
