.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatHistory {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.text {
  margin-bottom: 10px;
  font-family: var(--font-regular);
}

.messageContainer {
  width: 100%;
}

.assistant .text {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.user {
  text-align: right;
}

.user .text {
  display: inline-block;
  background-color: var(--cobalt-blue);
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 5px;
}

.input {
  flex-grow: 2;
  border: none;
  font-family: var(--font-regular);
}

.input:focus {
  outline: none;
}

.form:focus-within {
  outline: 1px solid var(--money-green);
}

.button {
  font-family: var(--font-regular);
  background-color: var(--cobalt-blue);
  color: var(--secondary-font-color);
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  width: 60px;
  justify-self: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-top: 4px solid black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
